.MessageList {
    height: calc(100vh - 40px - 100px);
    overflow-y: scroll;
    margin-bottom: 15px;
}

.MessageList .MessageList-Item:not(:first-child) {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.MessageList-Item-head {
    display: flex;
    flex-direction: row;
}

.MessageList-Item-username {
    font-size: 12px;
    color: #666;
    font-weight: bold;
}

.MessageList-Item-delete {
    color: red;
    font-size: 11px;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #ccc;
}

.MessageList-Item-messageBody {
    font-size: 14px;
}